body{
    background-color: rgb(143, 143, 143);
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topnav{
    padding: 20px 0 20px 0;
    padding-top: 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.topnav>nav{
    padding-top: 4px;
    padding-bottom: 5px;
}
.topnav>nav>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.topnav>nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.topnav>nav>ul>li>a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}
.topnav>nav>ul>li>a:hover{
    border-bottom: 3px solid red;
}
.topnav .logo{
    font-size: 40px;
    font-family: "隶书";
    padding-top: 4px;
    padding-bottom: 5px;
}
.topnav .logo .rs{
    margin-right: 5px;
    color: rgb(255, 241, 117);
}
.topnav .logo .card{
    
    color: rgb(255, 255, 255);
}
.banner{
    height: 520px;
    background-image: url(./back.jpg);
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    height: 520px;
    background-color: rgba(0,0,0,0.7);
}
.userCard{
    border:1px solid red;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
}
.userCard .welcome{
    background: rgb(247, 103, 103);
    color: white;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}
.userCard .welcome .triangle{
    display: block;
    border: 12px solid transparent;
    width: 0px;
    border-left-color: rgb(247, 103, 103);
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}
.userCard .picture{
   float: left;
}
.userCard .text{
   margin-left: 50px;
   float: left;
   width: 470px;
}
.userCard .pictureAndText{
    padding: 50px;
}